::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background: #eee;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(238,238,238,0.8);
}
